.container {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
            align-items: center;
    background: #111;
    margin: 25px 0;
    box-shadow: 0 5px 15px -10px #111;
  }
  
  .logo {
    -webkit-box-ordinal-group: 2;
            order: 1;
    border-radius: 100%;
    /* background: #4382d6; */
    box-shadow: 0 0 0 3px #fff, 0 0 0 15px #111;
    font-size: 24px;
    color: #fff;
    line-height: 32px;
    padding: 20px;
  }
  .imglogo {
    width: 90px;
    height: 90px;
  }
  
  .item {
    color: rgba(255, 255, 255, 0.88);
    text-decoration: none;
    font-family: sans-serif;
    padding: 24px;
  }
  .item:hover{
      color: #fff;
      background: rgba(255, 255, 255, 0.15);
  }
  
  .item:nth-of-type(n+4) {
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .flex-container {
    
    display: flex;
    padding-top: 0px;
    padding-bottom: 15px;
    flex-direction: row;
    flex-wrap: wrap ;
    justify-content:space-around ; /*justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;*/
    align-items: baseline ; /*align-items: stretch | flex-start | flex-end | center | baseline;    */
    align-content: space-around;
    gap: 40px 10px;
}
  .card {
    border-radius: 10px;
    padding-top: 0px;
    box-shadow: 200px 200px 800px #c7ca11;
    width: 190px;
    height: 220px;
    color: #000000;
   /* border: 1px solid rgb(8, 0, 255);*/
 }
 .imageVcard{
    width: 150px;
   height: 150px;
   border-radius: 10%;
 }
 .imageVcardAlberto{
    width: auto;
    height: 150px;
    border-radius: 10%;
    justify-content: center;
 }

  
  @media all and (max-width: 800px) {
    .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-align: stretch;
              align-items: stretch;
    }
  
    .logo {
      -webkit-box-ordinal-group: 1;
              order: 0;
      text-align: center;
      width: 100px;
      margin: auto auto 20px;
    }
  
    .item {
      text-align: center;
      border-bottom: 1px solid #111;
    }
  }